{
  "appKeys": {},
  "capabilities": [
    ""
  ],
  "companyName": "dartcatcher@gmail.com",
  "longName": "%FONT %COLOR",
  "projectType": "native",
  "resources": {
    "media": [
      {
        "characterRegex": "[0-9A-Za-z\u00e9\u00f4 ]",
        "file": "fonts/%FONT-Regular.ttf",
        "name": "FONT_R_28",
        "type": "font"
      },
      {
        "characterRegex": "[0-9:]",
        "file": "fonts/%FONT-Bold.ttf",
        "name": "FONT_B_48",
        "type": "font"
      }
    ]
  },
  "sdkVersion": "3",
  "shortName": "%FONT %COLOR",
  "uuid": "%UUID",
  "versionCode": 1,
  "versionLabel": "1.2",
  "watchapp": {
    "watchface": true
  },
  "targetPlatforms": [
    "aplite",
    "basalt"
  ]
}
